* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
/*^ task 1 :
body {
  height: 100vh;
  width: 100vw;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap-reverse;
}
div {
  height: 70%;
  width: 70%;
  background-color: lightcyan;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1%;
}
div > input {
  margin-top: 1%;
  flex-basis: 8%;
  width: 40%;
  padding-left: 2%;
  font-size: large;
  font-weight: 200;
  border: none;
  color: lightslategray;
  border-radius: 10px;
}
div > input:focus {
  border: 1px solid white;
  outline: none;
}
div > button {
  margin-top: 1%;
  flex-basis: 6%;
  width: 15%;
  background-color: rgb(229, 94, 229);
  color: rgb(246, 245, 245);
  font-size: medium;
  border-radius: 10px;
  border: 1px solid rgb(229, 94, 229);
}
div > h3 {
  margin-top: 1%;
  font-size: xx-large;
  background-color: rgb(167, 232, 243);
  width: max-content;
}
div > ul {
  margin-top: 1%;
  list-style: square;
  font-size: 150%;
  width: 10%;
  font-weight: bold;
}
*/

body {
  height: 100vh;
  width: 100vw;
  color: white;
}

.dark {
  height: 100vh;
  width: 100vw;
  background-color: black;
  color: white;
}
.white {
  height: 100vh;
  width: 100vw;
  background-color: white;
  color: black;
}

button {
  position: absolute;
  top: 10px;
  right: 10px;
  background-color: black;
  color: white;
  height: 35px;
  width: 35px;
  border-radius: 10%;
}
